.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  padding: 0.5em;
  color: white;
}

.App-header h1 {
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.page-title {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.width-100 {
  width: 100%;
}

.dm-container {
  margin-top: 1em;
  border: 2px solid black;
}

.dm-container-name {
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  border-bottom: 2px solid black;
}

.dm-container-table {
    border-spacing: 0px;
}

.dm-container-description {
  text-align: center;
}

.dm-container-table th, td {
  border-collapse: collapse;
}

.dm-container-table th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.dm-container-table th:first-child {
    border-left: 0px;
}

.dm-container-table td {
    border-left: 1px solid black;
}

.dm-container-table td:first-child {
    border: 0px;
}

.dm-container-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dm-container-table th {
  font-weight: bold;
  text-align: center;
}

.dm-container-table td {
  font-size: 8pt;
}

.dm-container-table td:first-child {
  font-weight: bold;
}
